/*
cube colors
red/pink: rgba(254,56,69,1) 
#FE3845
blue: rgba(48,44,103,1)
#302C67
teal: rgba(101,227,183,1)
#65E3B7
white-ish: rgba(250,250,250,1)
#FAFAFA
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500,500i,700,700i');

html {
    background-color: #FAFAFA;
    color: white;
    font-family: 'Roboto Mono', monospace;}
.open {
    width: 80vh;
    height: 80vh;
    text-align: center;
    background-color: rgba(151,46,251,.8);
    margin: auto;
    display: block;
    border-radius: 20%;
    color: white;
    align-content: center;
}
.open h1 {
    margin-top: 50px;
    font-size: 8vmin;
    text-shadow: 2px 2px black;
}
.open img {
    position: relative;
    width: 60%;
    border-radius: 25%;
    text-align: center;
}
.open p {
    font-size: 20px;
}
.open button {
    background-color: rgba(255,255,0,1);
    color: black;
    font-size: 30px;
    text-shadow: 1px 1px rgba(151,46,251,1);
    width: 30%;
    height: 100px;
    border-radius: 25%;
    border: 1px solid white;
    font-family: monospace;
}
.open button:hover {
    background-color: rgba(142,255,208,1);
}
#playScreenId {
    width: 100%;
    height: 100%;
    margin: 1vh;
    position: absolute;
    background-image: url("/images/cube.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
/*    z-index: -1;*/
}
aside {
    position: absolute;
    left: 0;
    top: 0;
}

#timer {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 1vh;
    bottom: -250px;
    float: right:
}

#timer p {
    color: black;
    text-shadow: 3px 3px #65E3B7;
    font-size: 70px;
    margin: 20px;
    position: relative;    
}

#score-board {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 1vh;
}

#score-board p {
    margin-top: 10px;
    color: black;
    text-shadow: 3px 3px rgba(255,255,0,1);
    font-size: 80px;
    margin: 20px;
    position: relative;
}

footer {
    width: 100%;
    height: 3vh;
    bottom: 0px;
    position: fixed;
    text-align: right;
}
footer p {
    font-size: 2vmin;
    color: black;
}
footer p a, span {
    color: rgba(142,255,208,1);
    text-decoration: none;
}
footer span {
    color: hotpink;
}
footer span:hover {
    color: pink;
}
footer p a:hover {
    color: rgba(142,255,208,1);
    font-weight: 700i;
}
.dot1 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    animation: move1 5s infinite;
    margin: 20px;
    z-index: 1;
}

.dot1:hover {
    animation: move1 5s infinite;
}
.dot2 {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    animation: move2 10s infinite;
    margin: 20px;
    z-index: 1;
}

.dot2:hover {
    animation: move2 2s infinite;
}
.dot3 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    position: absolute;
    animation: move1 7s infinite;
    margin: 20px;
    z-index: 1;
}
.dot3:hover {
    animation: move1 5s infinite;
}
.dot4 {
    width: 40px;
    height: 40px;
    position: absolute;
    animation: move3 5s infinite;
    z-index: 1;
    border-radius: 50%;
}
@keyframes move1 {
  25% {
    transform: rotate(360deg);
  }
}
@keyframes move2 {
    30% {
        transform: rotate(360deg);
    }
    70% {
        transform: rotate(180deg);
    }
}
@keyframes move3 {
    0% {
        right: -20%
    }
    25% {
        right: 40%;
        bottom: 10%;
    }
    50% {
        right: 60%;
        bottom: 60%;
    }
    75% {
        right: 80%;
        bottom: 5%;
    }
    100% {
        right: -110%;
        bottom: 110%;
    }
    
}
.clicked {
    transition: all 0.3s;
}