/*
colors:
red: rgba(232,0,0,1)
bright yellow: rgba(255,255,0,1)
bright-green: rgba(3,185,6,1)
bright-blue(light): rgba(0,162,255,1)
bright-blue(dark): rgba(36,5,242,1)
bright-purpley: rgba(255,69,203,1)

orange: rgba(244,60,11,1)
purple: rgba(151,46,251,1)
light-teal: rgba(142,255,208,1)
*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Quattrocento+Sans:400,400i,700,700i');
html {
    background-color: black;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    width: 100%;
    height: 100%;
}
header h1 {
    margin-top: 10vh;
    font-size: 8vmin;
    text-shadow: 2px 2px black;
    font-family: 'Comfortaa', cursive;
}

#open {
    width: 80vh;
    height: 80vh;
    text-align: center;
    background-color: rgba(151,46,251,.8);
    margin: 10vh;
    border-radius: 20%;
    color: white;
    position: absolute;
/*    justify-content: center;*/
}

#open img {
    position: relative;
    width: 60%;
    border-radius: 25%;
    text-align: center;
}

#playScreenId {
    width: 99%;
    height: 99%;
    background-color: black;
    margin: 1vh;
    position: absolute;
}

#keyBox {
    position: relative;
    width: 100%;
    height: 13vh;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: -600px;
    justify-content: center;
}

#keyBox h1 {
    margin-top: 5%;
    color: white;
    text-shadow: 1.5px 1.5px black;
    font-size: 15vim;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
}

#keyBox h2 {
    color: white;
    text-shadow: 1px 1px gray;
    margin: 2vh;
    font-weight: 400;    
}
#keyColorBox {
    width: 90%;
    height: 100px;
    position: relative;
    margin: 3vh;
}
.keyClass {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    border-radius: 10%;
    margin: 2vh;
    padding: 2vh;
    float: right;
}
footer {
    width: 100%;
    height: 3vh;
    bottom: 0px;
    position: fixed;
    background-color: black;
    text-align: right;
}

footer p {
    font-size: 2vmin;
    color: white;
}

footer p a,
span {
    color: rgba(142,255,208,1);
    text-decoration: none;
}
footer span {
    color: hotpink;
}
footer span:hover {
    color: pink;
}

footer p a:hover {
    color: rgba(142,255,208,1);
    font-weight: 700i;
}